.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: aliceblue;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 1rem 2rem;

  background-color: whitesmoke;
}

.lists {
  margin-bottom: 1rem;
  padding: 1rem;
}

.list-title {
  margin: 0;
  padding-bottom: 5px;
}

.todo-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}

.todo-item {
  margin: 10px 0;
  padding: 10px;
  border: 3px dotted dodgerblue;
  text-align: center;
}

.todo-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

label {
  font-weight: bold;
  font-size: larger;
}

input {
  padding: 10px;
  border: 1px solid dodgerblue;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.addTodoBtn {
  border: 3px solid powderblue;
}

.controlTodoBtn {
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  margin: 0 0.5rem;
}

.controlTodoBtn:hover {
  background-color: white;
  transform: scale(1.05);
}

.deleteTodoBtn {
  border: 3px solid red;
}

.editDoneBtn {
  border: 3px solid green;
}
